* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, sans-serif;
    max-width: 100%;
}

nav {
    background-color: #293F50;
    color: #ffffff;
    height: 470px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    padding-top: 25px;
    padding-left: 35px;
    color: #527E77;
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
}

nav p {
    text-align: center;
    font-weight: lighter;
    margin: 15px;
    font-size: 18px;
}

nav h2 {
    font-size: 35px;
    color: #527E77;
    text-align: center;
    font-weight: lighter;
}

nav h1 {
    font-size: 45px;
    margin: 70px;
    text-align: center;
    font-weight: lighter;
}

nav div {
    text-align: center;
    margin: 45px;
}

.btn {
    padding: 15px 20px;
    border: solid 1px white;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: darkgray;
}

.nav {
    text-align: right;
    padding-right: 16px;
    color: #527E77;
    margin: 25px;
    font-size: 16px;
}

main {
    color: darkgray;
    height: 500px;
    text-align: center;
}

main section {
    margin: 15px;
    display: inline-block;
    width: 305px;
}

main section p{
    text-align: left;
    font-size: 16px;
}
main section img {
    border-radius: 5px;
    float: left;
    width: 290px;
}

.main-content {
    text-align: left;
    margin: 15px 0;
    font-size: 18px;
}

footer {
    background-color: #293F50;
    color: #ffffff;
    height: 70px;
    padding: 10px 65px;
    vertical-align: middle;

    font-weight: lighter;
    vertical-align: middle;
}

.left {
    display: inline-block;
    margin-top: 10px;
}

footer nav {
    height: 70px;
    margin-top: 10px;
    display: inline-block;
    float: right;
}

footer div h2 {
    margin-top: 25px;
    display: inline-block;
    font-weight: lighter;
    vertical-align: middle;
}

footer nav ul {
    margin-top: 5px;
    display: inline-block;
    text-decoration: none;
}

footer nav ul li {
    margin: 10px;
    padding: 10px;
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v13/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v13/R4a6fty3waPci7C44H8AjvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v13/tI4j516nok_GrVf4dhunkg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}