    <header>
        <div class="inner">
            <nav>
                <a href="/" class="logo"><img class="logo" src="/images/nodeLogo.png" alt="nodeLogo"></a>
                <ul>
                    <li><a href="/memes/add">Add Meme</a></li>
                    <li><a href="/memes/viewAll">View All Memes</a></li>
                    <li><a href="/genres/add">Add Genre</a></li>
                    <li><a href="/genres/viewAll">View All Genres</a></li>
                </ul>
            </nav>
        </div>
    </header>
    