<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
{{>header}}
{{> searchBar}}
{{> infoBar}}
{{> pageTitle}}
<div class="container">
            <form action="/genres/edit/{{genre._id}}" method="POST">
            	<label for="name">Name </label>
            	<input type="text" id="name" name="name" value="{{genre.name}}">
            	<input class="block" type="submit" value="Submit">
        	</form>
</div>
{{> footer}}
</body>
</html>