<main>
    <div class="container body-content">
        <div class="well row">
            <div class="col-md-9">
                <article>
                    <header>
                        <h2 th:text="${training.title}"></h2>
                    </header>
                    <p th:text="${training.content}"></p>
                    <small class="author" th:text="${training.location}"></small>
                    <small class="author" th:text="${training.dateAdd}"></small>
                    <small class="author" th:text="${training.trainingUserId.name}"></small>
                    <footer>
                        <div class="pull-right">
                            <th:block sec:authorize="isAuthenticated()" th:if="${user.isAdmin() OR user.isTrainingAuthor(training)}">
                                <a class="btn btn-success btn-xs" th:href="@{/training/edit/{id}(id = ${training.id})}">Edit</a>
                                <a class="btn btn-danger btn-xs" th:href="@{/training/delete/{id}(id = ${training.id})}">Delete</a>
                            </th:block>
                            <a class="btn btn-default btn-xs" th:href="@{/trainings}">back &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
</main>