<!DOCTYPE html>
<html>
{{> head}}
</body class="preload">
    {{> header}}
    {{> infoBar}}
    <section id="main-container">
        <main>
          
           <h1 class="head-title">{{#if error}}{{error}}{{else}}4 0 4 Not Found{{/if}}</h1>
          
        </main>
    </section>
    {{> footer}}
</body>
</html>