<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/register}" enctype="multipart/form-data" method="post">
                <fieldset>
                    <legend>Register</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_email">Email</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" type="email" id="user_email" placeholder="Email" name="email" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_name">Organisation/Person Name *</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" type="text" id="user_name" placeholder="Name" name="name" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_type">Type *</label>
                        <div class="col-sm-6 ">
                            <select class="form-control" id="user_type" name="type" required="required">
                                <option name="type" value="Small organisation">Small organisation</option>
                                <option name="type" value="Medium organisation">Medium organisation</option>
                                <option name="type" value="Big organisation">Big organisation</option>
                                <option name="type" value="Foundation">Foundation</option>
                                <option name="type" value="Sole trader">Sole trader</option>
                                <option name="type" value="NGO">NGO</option>
                                <option name="type" value="Physical person">Physical person</option>
                                <option name="type" value="Consultant">Consultant</option>
                                <option name="type" value="Trainer">Trainer</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_logo">Logo</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" type="file" id="user_logo" name="logo"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_summary">Summary</label>
                        <div class="col-sm-4 ">
                            <textarea class="form-control" type="text" id="user_summary" name="summary"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="main_Categories">Company Profile *</label>
                        <div class="col-sm-6 ">
                            <ul>
                            </ul>
                            <select class="form-control" id="main_Categories" onchange="selectIngredient(this);" required="required">
                                <option th:each="category : ${mainCategories}" th:value="${category.id}" th:text="${category.categoryName}"></option>
                                <script>
                                    /*<![CDATA[*/
                                    function selectIngredient(select)
                                    {
                                        var option = select.options[select.selectedIndex];
                                        var ul = select.parentNode.getElementsByTagName('ul')[0];
                                        var choices = ul.getElementsByTagName('input');
                                        for (var i = 0; i < choices.length; i++)
                                            if (choices[i].value == option.value)
                                                return;
                                        var li = document.createElement('li');
                                        var input = document.createElement('input');
                                        var text = document.createTextNode(option.firstChild.data);
                                        input.type = 'hidden';
                                        input.name = 'mainCategories[]';
                                        input.value = option.value;
                                        li.appendChild(input);
                                        li.appendChild(text);
                                        li.setAttribute('onclick', 'this.parentNode.removeChild(this);');
                                        ul.appendChild(li);
                                    }
                                    /*]]>*/
                                </script>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password_first">Password *</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="user_password_first" placeholder="Password" name="password" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password_second">Confirm Password *</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="user_password_second" placeholder="Password" name="confirmPassword" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/}">Cancel</a>
                            <input value="Submit" type="submit" class="btn btn-primary"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
