<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
{{> header}}
{{> searchBar}}
{{> infoBar}}
{{> pageTitle}}
    <div class="container">
        <h1>Hello I'm your Node Meme DB app!</h1>
    </div>
{{> footer}}
</body>
</html>