<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
{{>header}}
{{> searchBar}}
{{> infoBar}}
{{> pageTitle}}
<div class="container">
    <h1 class="head-title">{{#if error}}{{error}}{{else}}4 0 4 Not Found{{/if}}</h1>
</div>
{{> footer}}
</body>
</html>