<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
<div>
{{> infoBar}}
{{> aside}}
<div id="container">
{{>header}}

<main>
    <h1 class="head-title">{{#if message}}{{message}}{{else}}4 0 4 Not Found!!!{{/if}}</h1>
</main>

{{> footer}}
</div>
</div>
</body>
</html>