<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
{{> header}}
{{> searchBar}}
{{> infoBar}}
{{> pageTitle}}
<div class="container">
    {{#each memes}}
    	<div class="meme">
    		<a class="block" href="/memes/details/{{_id}}">
    			<img class="img-center" src="{{memeSrc}}"/>
    		</a>
    		<h4 class="block center padding-10" >{{title}}</h4>
    	</div>
    {{/each}}
</div>
{{> footer}}
</body>
</html>