<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/news/create}" method="POST">
                <fieldset>
                    <legend>Create News</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="news_title">News Title</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="news_title" placeholder="News Title"
                                   name="title"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="news_content">Content</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="9" id="news_content" name="content"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/}">Cancel</a>
                            <input type="submit" class="btn btn-primary" value="Submit"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>