<div class="controls">
    <ul>
        <li class="action"><a class="commentsLink" href="#/details/{{_id}}">comments</a></li>
        {{#if isAuthor}}
	        {{> postAuthorsControlls}}
        {{/if}}
    </ul>
</div>