<aside>
            <div class="center">
                <img class="logo" src="/images/logo.png" alt="logo">
            </div>

            <nav>
                <a href="/">Main Page</a>
                <a href="/articles/{{latestArticle._id}}">Latest Article</a>
                <a href="/articles/all">All articles</a>
                <form action="/articles/search">
                    <input name="query" type="text" placeholder="Search...">
                    <input type="submit" value="Search">
                </form>
                {{#if isLoggedIn}}
                <a href="/articles/create">Create New Article</a>
                {{/if}}
            </nav>
</aside>